@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');
html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

*,
 :after,
 :before {
    box-sizing: inherit;
}

main {
    position: relative;
    perspective: 1500px;
    background: linear-gradient(transparent, #F5F5F6);
}

.gradient {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    background: linear-gradient(transparent, #F5F5F6);
}

.cta-btns {
    margin-top: 32px;
}

.cta-btn_1 {
    margin-right: 24px;
    background-color: rgb(179, 40, 45);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    padding: 8px 16px;
    text-align: center;
}

.cta-btn_2 {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(179, 40, 45);
    border: 1px solid rgb(179, 40, 45);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    padding: 8px 16px;
    text-align: center;
}

.img-grid {
    margin-top: 80px;
    grid-column: span 6/span 6;
    position: relative;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 24px;
    max-width: 575px;
    row-gap: 12px;
    tab-size: 4;
    column-gap: 2.5rem;
    padding: 0;
    margin-top: 24px;
}

.grid li {
    display: flex;
}

li svg {
    height: 75px;
}

.img-grid p {
    font-size: 14px;
}

.intro-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    display: none;
}

.flickity-viewport {
    height: 100% !important;
}

.intro-cell {
    /* width: 100%;
    height: 100%; */
    text-align: center;
}

.intro-text {
    position: relative;
    transform: translateY(140px);
    z-index: 2;
    margin-left: 57px;
}

h1 {
    font-size: 42px;
    margin: 0;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}

p {
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.5;
}

a {
    display: inline-block;
}

.flickity-button {
    display: none;
}

.feature {
    height: 0;
}

.header-1 {
    background: #EFF0F1;
    height: 40px;
    width: 100%;
    position: relative;
}

.header-2 {
    background: #CDD1D4;
    height: 48px;
    width: 100%;
    position: relative;
}

canvas {
    transform: none;
    z-index: 0;
    min-height: 700px;
    height: 89.3vh !important;
    max-height: 768px !important;
}

main {
    max-width: 1376px;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-x: hidden;
}

.next-section {
    max-width: 1376px;
    background: #F5F5F6;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 500px;
}


/* @media screen and (min-width: 600px) {
    canvas {
        max-height: 89.3vh;
    }
}

@media screen and (min-width: 900px) {
    canvas {
        transform: translateX(-200px);
    }
} */