@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');
html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

*,
 :after,
 :before {
    box-sizing: inherit;
}

main {
    position: relative;
    perspective: 1500px;
}

.intro-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    display: none;
}

.flickity-viewport {
    height: 100% !important;
}

.intro-cell {
    width: 100%;
    height: 100%;
    text-align: center;
}

.intro-text {
    position: relative;
    transform: translateY(500px);
}

h1 {
    font-size: 42px;
    margin: 0;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a {
    display: inline-block;
    padding: 8px 16px;
    background: #b3282d;
    color: white;
}

canvas {
    height: 100%;
    width: 50%;
    transform: translateX(-250px)
}

.flickity-button {
    display: none;
}

.feature {
    height: 0;
}

.header-1 {
    background: lightgray;
    height: 45px;
    width: 100%;
    position: relative;
}

.header-2 {
    background: darkgray;
    height: 45px;
    width: 100%;
    position: relative;
}

body {
    max-width: 1376px;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-x: hidden;
}