@font-face {
    font-family: 'Gotham Cond';
    src: url('/static/fonts/GothamCond-XBlack_Web.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url('/static/fonts/Gotham-Book_Web.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url('/static/fonts/Gotham-Medium_Web.woff2') format('woff2');
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url('/static/fonts/Gotham-Medium_Web.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url('/static/fonts/Gotham-Bold_Web.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@keyframes slide-color-in {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.font-highlighter--101 {
    --initial-text-color: #051727;
    --slide-text-color: #fff;
    --initial-bg-color: transparent;
    --slide-bg-color: #051727;
    /* stylelint-disable-next-line max-line-length */
    background-image: linear-gradient(90deg, var(--initial-bg-color) 0%, var(--initial-bg-color) 50%, var(--slide-bg-color) 50%, var(--slide-bg-color) 100%);
    background-size: 200%;
    transition: background-position 0.4s cubic-bezier(0.47, 0.1, 1, 0.63), color 0.4s linear;
    transition-delay: 1s;
    opacity: 0;
}

.font-highlighter--101.highlight {
    opacity: 1 !important;
    color: white;
    background-position: -100% 0;
    position: relative;
    display: inline-flex;
    overflow: hidden;
    padding: 0 8px;
}

.font-highlighter--101.highlight::before {
    content: attr(data-content);
    position: absolute;
    color: #051727;
    overflow: hidden;
    width: 0;
    left: 0;
}

.font-highlighter--101.highlight.active::before {
    animation: slide-color-in 0.4s cubic-bezier(0.47, 0.1, 1, 0.63);
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.heading {
    font-family: "Gotham Cond", Helvitica, sans-sefif;
    color: rgb(5, 23, 39);
    display: inline-block;
    font-size: 64px;
    font-weight: 800;
    line-height: 64px;
}

.subheading {
    font-family: "Gotham", Helvitica, sans-sefif;
    color: rgb(5, 23, 39);
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 0;
}

html {
    box-sizing: border-box;
    /* font-size: 14px;
    line-height: 1.2;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; */
}

html,
body {
    margin: 0;
    padding: 0;
}

 :after,
 :before {
    box-sizing: inherit;
}

main {
    position: relative;
    perspective: 1500px;
    background: linear-gradient(transparent, #F5F5F6);
}

.gradient {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    background: linear-gradient(transparent, #F5F5F6);
}

.cta-btns {
    margin-top: 24px;
}

.cta-btn_1 {
    font-family: "Gotham", helvetica, sans-serif;
    font-weight: 350;
    margin-right: 13px;
    background-color: rgb(179, 40, 45);
    border: 1px solid rgb(179, 40, 45);
    color: white;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    padding: 5px 16px;
    text-align: center;
    box-sizing: border-box;
}

.cta-btn_2 {
    font-family: "Gotham", helvetica, sans-serif;
    font-weight: 350;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(179, 40, 45);
    border: 1px solid rgb(179, 40, 45);
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    padding: 5px 16px;
    text-align: center;
}

.img-grid {
    margin-top: 80px;
    grid-column: span 6/span 6;
    position: relative;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 16px;
    max-width: 575px;
    row-gap: 12px;
    tab-size: 4;
    column-gap: 1.6rem;
    padding: 0;
    margin-top: 24px;
    margin-left: 32px;
}

.grid li {
    display: flex;
}

li svg {
    height: 55px;
}

.img-grid p {
    font-family: "Gotham", Helvetica, sans-serif;
    font-weight: 700;
    line-height: 24px;
    color: rgb(5, 23, 39);
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 32px;
}

.intro-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    display: none;
}

.flickity-viewport {
    height: 100% !important;
}

.intro-cell {
    /* width: 100%;
    height: 100%; */
    text-align: center;
}

.card-1 {
    background: rgba( 247, 248, 248, 80%);
    width: max-content;
    padding: 32px;
}

.intro-text {
    position: relative;
    transform: translateY(100px);
    z-index: 2;
    margin-left: 33px;
}

h1 {
    font-size: 42px;
    margin: 0;
}

p {
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.5;
}

a {
    display: inline-block;
}

.flickity-button {
    display: none;
}

.feature {
    height: 0;
}

.header-1 {
    background: #EFF0F1;
    height: 40px;
    width: 100%;
    position: relative;
}

.header-2 {
    background: #CDD1D4;
    height: 48px;
    width: 100%;
    position: relative;
}

canvas {
    transform: none;
    z-index: 0;
    min-height: 700px;
    height: 89.3vh !important;
    max-height: 768px !important;
}

main {
    max-width: 1376px;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-x: hidden;
}

.next-section {
    max-width: 1376px;
    background: #F5F5F6;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 500px;
}

@media (min-width: 0px) and (max-width: 539px) {
    .header-1 {
        height: 60px;
        background: white;
    }
    .header-2 {
        background: #B3282D;
    }
    .card-1 {
        background: none;
        width: auto;
        padding-left: 0;
    }
    .intro-text {
        transform: none;
    }
    canvas {
        height: 100vh !important;
        transform: translateY(460px);
    }
    .gradient {
        transform: translateY(460px);
        z-index: 4;
    }
    .img-grid {
        transform: translateY(627px);
        z-index: 5;
    }
    .next-section {
        display: none;
    }
}

@media (min-width:540px) and (max-width: 1025px) {
    .header-1 {
        height: 60px;
        background: white;
    }
    .header-2 {
        background: #B3282D;
    }
    .card-1 {
        background: none;
        width: auto;
    }
    .intro-text {
        transform: none;
    }
    canvas {
        height: 100vh !important;
    }
}